<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ComputerShop.Database.Properties.Settings.JustITComputerShopConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=JustITComputerShop;Integrated Security=True" providerName="System.Data.SqlClient" />
        <!--<add name="ComputerShop.Database.Properties.Settings.JustITComputerShopConnectionString1"
            connectionString="Data Source=DOMINUS-PC\SQLEXPRESS;Initial Catalog=JustITComputerShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComputerShop.DAL.Properties.Settings.JustITComputerShopConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=JustITComputerShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComputerShop.DAL.Properties.Settings.JustITComputerShopConnectionString1"
            connectionString="Data Source=DOMINUS-PC\SQLEXPRESS;Initial Catalog=JustITComputerShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ComputerShop.DAL.Properties.Settings.ComputerShopConnectionString"
            connectionString="Data Source=DOMINUS-PC\SQLEXPRESS;Initial Catalog=ComputerShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
    <add name="ComputerShopContext" connectionString="data source=DOMINUS-PC\SQLEXPRESS;initial catalog=JustITComputerShop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>