<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataMapperType" value="SQL"/>
  </appSettings>
  <connectionStrings>
    <add name="ComputerShopConnectionString"
         connectionString="Data Source=DOMINUS-PC\SQLEXPRESS;Initial Catalog=JustITComputerShop;Integrated Security=True"/>
  </connectionStrings>
</configuration>